html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



html
{
font-size: 62.5%;
font-family:Raleway sans-serif;

}
body
{
font-size: 1.6rem;
}
img
{
	height:100%;
	width:100%;
}
ul
{
	list-style: none;
	margin:0;
	padding:0;
}
a
{
	font-size: 1.9rem;
	font-weight: 700;
	color: #333333;
}
p, footer{
	font-size: 2rem;
	font-weight: 500;
	color: #777777;

}
button
{
	font-size: 1.9rem;
	font-weight:700;
	color: #333333;
	background-color: #16D6D1;
	border-radius: 5px;
	height: 40px;
cursor:pointer;
}

.headerNav
{
//margin-right:10%;
}
.headerNav li
{
	float:right;
	display:inline;
	height:50%;
	margin-top:20px;
}
.headerNav a
{
	text-decoration: none;
	display: block;
	padding:20px;
	    padding-top: 10px;
    padding-bottom: 10px;
    
}
.navBottom a
{
	text-decoration: none;
	display: block;
	padding-top:10px;
	padding-bottom:10px;
}
.travelNav
{
	float:left;
	//position:relative;
	text-decoration: none;
	width:10%;
	padding:20px;
	//top:50px;
	font-size: 



}
h1
{
	position: absolute;
	//left:50px;
	top:100px;
	font-size: 6.8rem;
	font-weight: 700;
	color: #333333;

}
h2 .travelNav ,  .footerHeading h2
{
	
	font-size:3.8rem;
	color:#005769;
	font-weight: 700;
    margin-top:0;

}
h3
{
	font-size: 2.2rem;
	padding:0;
	margin:0;
	color:#777777;
}

main{
	height:100%;
}
footer
{
	
	background-color: #F6F8FA;
	padding:60px;
	    padding-bottom: 1px;
}
/*HEADER STYLES*/
header {
	background: url(../assets/image-main.jpeg);
	height: 87vh;
	background-size: cover;
	background-attachment: fixed;

  background-repeat: no-repeat;
   width: 100%;
	margin:0;
	position: relative;
 
}
.wrapper {
	//width: 75%;
    max-width: 1140px;
    margin: 0 auto;
}

div
{
	width:100%;
}
.row
{
	height:500px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.rowOne .imageLeft
{
	float:left;
	width:33%;
	height:100%;
	padding-right:10px	;

}
.rowOne .imageRight
{
	float:right;
	width:67%;
	height:100%;
	padding-left:10px;
}
.rowTwo .imageLeft
{
	float:left;
	width:67%;
	height:100%;
	padding-right:10px	;

}
.rowTwo .imageRight
{
	float:right;
	width:33%;
	height:100%;
	padding-left:10px;
}
.mainContainer
{
	//padding:60px;

}
.imageTop
{
	height:50%;
}
.imageBanner
{
	height:50%;
}
.rowThree
{
	width :100%;

}

.rowThree .imageLeft
{
	float:left;
		width:67%;
	padding-right:10px;
	height:100%;

}
.innerLeft
{
    position:relative;
	float:left;
	width:50%;
	height:100%;
	padding-right:10px;
}
.rowThree .imageCenter
{
	float:right;
	width:50%;
	padding-left:10px;
	
	height:100%;


}
.rowThree .imageRight
{
	float:right;
	width:33%;
	padding-left:10px;
	height:100%;

	
}


footer .leftBottom
{
	float:left;
	width:67%;
}

footer .rightBottom
{
	float:right;
	width:33%;
}
.leftBottom .footerHeading
{
	float:left;
	width:50%;
  
}
.leftBottom .navBottom
{
	float:right;
	width:50%;
}

.navBottom .leftNav
{
	float:left;
	width:50%;
}

.navBottom .rightNav
{
	float:right;
	width:50%;	
}


.imageBanner
{
	background-color: #F6F8FA;

}
.bannerContent
{
	height:100%;
 text-align:center;
 padding:20px;
 padding-left:18%;
 padding-right:18%;
}
.bannerContent p
{
   height:40%;
}
.bannerContent h2
{
	font-size: 3.9rem;
	color:#333333;
	    margin-bottom: 25px;
    margin-top: 20px;

}

.copyRight
{
	border-top: 1px solid;
    font-size:2rem;
    font-weight: 500;
    font-color:#777777;
}

.contactNav
{

	color: #333333;
	background-color: #16D6D1;
	border-radius: 5px;

}

.footerContent
{
	    padding-bottom: 35px;
}
.hoverImage
{
position:absolute;
}
.showOnHover
{
        position:absolute;
    height:100%;
    background-color:rgba(246,248,250,0.5);
    //opacity: 0.5;
    padding-top:30%;
    padding-left:10%;
    padding-right:10%;
    text-align:center;
display:none
}
a:hover .showOnHover 
{

	display:block;
}

//adding submenu


        .nav li:hover {
      background-color: silver;
    }

    .nav li:hover ul.sub-menu {
      display:block;
    }
    ul.sub-menu {
      background: rgba(175, 178, 180  ,0.5);
      color: white;
      display: none;
      position: relative;
      top: 100%;
      left: 0;
      right: 0;
      padding: 0;
    }

    ul.sub-menu li {
      float: none; /* Set the sub navs list items back by removing the float */
    }


    .sub-menu a:hover
    {
    background: rgb(228, 236, 241);
    }
    
        .nav span {
      font-size: 14px;
      color: #16D6D1;
    }
    


